body {
  background-image: url('./images/background.png');
  color: white;
  font-family: Arial , Helvetica , sans-serif;
}

header h1 {
  font-size: 4em;
  margin: 50px auto;
  text-align: center;
}

.headline {
  border: 1px solid white;
  border-radius: 15px;
  font-size: 2.5em;
  margin: auto;
  padding: 13px 0;
  text-align: center;
  width: 85%;
}

.planets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  margin-bottom: 100px;
  width: 90vw;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
}

.planet {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
}

.Mercúrio {
  width: 40%;
}

.Vênus {
  width: 75%;
}

.Terra {
  width: 80%;
}

.Marte {
  width: 60%;
}

.Júpiter {
  width: 100%;
}

.JúpiterDiv {
  width: 18%;
}

.Saturno {
  transform: rotate(-12deg);
  width: 100%;
}

.SaturnoDiv {
  width: 20%;
}

.Urano {
  width: 100%;
}

.Netuno {
  width: 100%;
}

.mission-card {
  border: 1px solid white;
  border-radius: 10px;
  margin: 50px 0;
  width: 25%;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 300px;
  width: 85%;
}

h3, p {
  padding-left: 30px;
}
