body {
  background-image: url('./images/background.png');
  color: white;
  font-family: Arial, Helvetica, Arial, sans-serif;
}

header h1 {
  font-size: 4em;
  margin: 50px auto;
  text-align: center;
}

.headline {
  text-align: center;
  font-size: 2.5em;
  border: 1px solid white;
  border-radius: 15px;
  padding: 13px 0;
  width: 85%;
  margin: auto;
}

.planets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 90vw;
  margin-bottom: 100px;
}

.planet-card {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.planet {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Mercúrio {
  width: 40%;
}

.Vênus {
  width: 75%;
}

.Terra {
  width: 80%;
}

.Marte {
  width: 60%;
}

.Júpiter {
  width: 100%;
}

.JúpiterDiv {
  width: 18%;
}

.Saturno {
  width: 100%;
  transform: rotate(-12deg);
}

.SaturnoDiv {
  width: 20%;
}

.Urano {
  width: 100%;
}

.Netuno {
  width: 100%;
}